@layer base {
  :root {
    --shiki-foreground: theme('colors.zinc.700');
    --shiki-background: transparent;
    --shiki-comment: theme('colors.zinc.500');
    --shiki-string: theme('colors.emerald.600');
    --shiki-literal: theme('colors.blue.600');
    --shiki-number: theme('colors.blue.600');
    --shiki-keyword: theme('colors.sky.600');
    --shiki-function: theme('colors.violet.600');
    --shiki-string-expression: theme('colors.emerald.600');
    --shiki-punctuation: theme('colors.zinc.400');
    --shiki-link: theme('colors.blue.600');
  }

  .dark {
    --shiki-foreground: theme('colors.zinc.200');
    --shiki-background: transparent;
    --shiki-comment: theme('colors.zinc.500');
    --shiki-string: theme('colors.emerald.300');
    --shiki-literal: theme('colors.sky.300');
    --shiki-number: theme('colors.sky.300');
    --shiki-keyword: theme('colors.sky.300');
    --shiki-function: theme('colors.violet.300');
    --shiki-string-expression: theme('colors.emerald.300');
    --shiki-punctuation: theme('colors.zinc.400');
    --shiki-link: theme('colors.blue.300');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
