openapi: 3.2.0
info:
  title: Vatly API
  version: '1.0'
  description: |
    Vatly is a Merchant of Record billing platform for European SaaS companies.
    This API enables you to manage checkouts, customers, orders, subscriptions, refunds, and more.

    ## Authentication

    The Vatly API uses Bearer token authentication. All API requests must include an `Authorization` header:

    ```
    Authorization: Bearer {your_api_token}
    ```

    ### Live vs Test Mode

    API tokens determine the environment mode:
    - Tokens prefixed with `live_` access **production** data
    - Tokens prefixed with `test_` access **sandbox** data

    Resources created in one mode cannot be accessed or referenced from the other mode.
    For example, a checkout created with a test token cannot reference a customer created with a live token.

    ## Pagination

    List endpoints use cursor-based pagination with the following query parameters:

    | Parameter | Type | Description |
    |-----------|------|-------------|
    | `limit` | integer | Number of results per page (default: 10, max: 100) |
    | `startingAfter` | string | Cursor ID to fetch results after |
    | `endingBefore` | string | Cursor ID to fetch results before |

    `startingAfter` and `endingBefore` are mutually exclusive.

    All list responses are wrapped in a pagination envelope:

    ```json
    {
      "data": [ ... ],
      "count": 2,
      "links": {
        "self": { "href": "https://api.vatly.com/v1/orders", "type": "application/json" },
        "next": { "href": "https://api.vatly.com/v1/orders?startingAfter=order_abc", "type": "application/json" },
        "prev": null
      }
    }
    ```

    ## Money Format

    All monetary values are represented as objects with `value` (string) and `currency` (ISO 4217 code):

    ```json
    {
      "value": "99.99",
      "currency": "EUR"
    }
    ```

    Values are strings to preserve decimal precision.

    ## Email Format

    Email addresses are accepted and returned in their **Punycode (ASCII)** form
    per [RFC 3492](https://www.rfc-editor.org/rfc/rfc3492). Internationalized
    domains must be encoded before submission:

    - Submit: `user@xn--mller-kva.de` (✓)
    - Reject: `user@müller.de` (returns `422` with `email_domain_not_ascii`)

    Responses always return the canonical ASCII form — what the caller sent in
    is what the caller gets back. This keeps email values stable for
    programmatic use (equality checks, deduplication, hashing) and matches
    Mollie's own API contract.

    For human-friendly display in your own UI, decode the domain back to
    Unicode. Most languages provide this in the standard library — for
    example, PHP's `idn_to_utf8()`, Python's `idna.decode()`, or Node's
    [`url.domainToUnicode()`](https://nodejs.org/api/url.html#urldomaintounicodedomain).

    Local-part Unicode (EAI / SMTPUTF8) is not supported.

    ## Idempotency

    All mutating requests (`POST`, `PATCH`, `PUT`, `DELETE`) accept an
    optional `Idempotency-Key` header. When present, Vatly records the
    first response keyed by `(token, endpoint, key)` and returns it
    verbatim on subsequent requests with the same key, marking the
    replay with an `Idempotent-Replayed: true` response header.

    - **Use a fresh key per logical operation.** Generate one client-side
      (UUIDv4 is recommended) and retry transparently with the same key
      on network errors.
    - **Keys are bound to the exact parameters of the first request.**
      Replaying with a different body or different query parameters
      returns `409 Conflict`. Either retry with the original parameters
      or generate a new key.
    - **Keys expire after 24 hours.** After that the key is reusable as
      a fresh idempotency boundary.
    - **Scope is per endpoint.** The same key value on a different
      endpoint is treated as a new key.

    Sending an `Idempotency-Key` on a `GET` or `HEAD` request is ignored.

    ## Errors

    The API returns standard HTTP status codes and JSON error responses:

    | Status | Description |
    |--------|-------------|
    | 400 | Bad Request - Invalid request format |
    | 401 | Unauthorized - Missing or invalid token |
    | 403 | Forbidden - Token invalid or insufficient permissions |
    | 404 | Not Found - Resource doesn't exist |
    | 409 | Conflict - Idempotency-Key reused with different request parameters |
    | 422 | Unprocessable Entity - Validation failed |
    | 429 | Too Many Requests - Rate limit exceeded |
    | 500 | Internal Server Error |
  contact:
    name: Vatly Support
    url: https://vatly.com
    email: support@vatly.com
  license:
    name: Proprietary
    url: https://vatly.com/terms
servers:
  - url: https://api.vatly.com/v1
    description: Production API
  - url: https://api.staging.vatly.com/v1
    description: Staging API
security:
  - BearerAuth: []
tags:
  - name: Checkouts
    description: |
      Create and manage hosted checkout sessions.
      Checkouts allow customers to purchase one-off products and subscription plans through a hosted payment page.
  - name: Customers
    description: |
      Manage customer records.
      Customers are identified by email and can have multiple subscriptions and orders.
  - name: One-Off Products
    description: |
      View available one-off products.
      Products are configured in the Vatly dashboard and can be added to checkouts.
  - name: Subscription Plans
    description: |
      View available subscription plans.
      Plans define recurring billing intervals and pricing.
  - name: Orders
    description: |
      View orders and request invoice address updates.
      Orders are created when checkouts complete or subscriptions renew.
  - name: Refunds
    description: |
      Create and manage refunds for paid orders.
      Supports both partial (per-item) and full refunds.
  - name: Chargebacks
    description: |
      View chargebacks initiated by payment providers.
      Chargebacks are created automatically when a customer disputes a payment.
  - name: Subscriptions
    description: |
      Manage customer subscriptions.
      Update plans, quantities, billing details, or cancel subscriptions.
  - name: Webhook Events
    description: |
      View webhook events that were sent to your webhook endpoints.
      Each event contains the full resource payload at the time the event occurred.
  - name: Test Helpers
    description: |
      Sandbox-only endpoints for simulating billing events.
      These endpoints require a `test_` prefixed API token.
paths:
  /checkouts:
    get:
      operationId: listCheckouts
      summary: List all checkouts
      description: |
        Returns a paginated list of checkouts for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Checkouts
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of checkouts
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Checkout'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: checkout_QdEpFhdSrG4Y3DnfsdqsH
                    resource: checkout
                    orderId: null
                    testmode: false
                    redirectUrlSuccess: https://example.com/success
                    redirectUrlCanceled: https://example.com/canceled
                    metadata: {}
                    status: created
                    expiresAt: '2024-01-16T10:30:00Z'
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      checkoutUrl:
                        href: https://checkout.vatly.com/checkout_QdEpFhdSrG4Y3DnfsdqsH
                        type: text/html
                      self:
                        href: https://api.vatly.com/v1/checkouts/checkout_QdEpFhdSrG4Y3DnfsdqsH
                        type: application/json
                      order: null
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/checkouts
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      operationId: createCheckout
      summary: Create a checkout
      description: |
        Creates a new hosted checkout session.

        The checkout URL in the response can be used to redirect customers to complete their purchase.
        Checkouts expire after a configurable period (default: 24 hours).

        **Products:**
        - Include one or more products using their `prod_` or `plan_` IDs
        - Mix one-off products and subscription plans in the same checkout
        - Override prices for specific products using the `price` field
        - Add trial periods to subscription plans using `trialDays`

        **Customer association:**
        - Optionally link to an existing customer using `customerId`
        - If not provided, a new customer is created based on checkout form input
      tags:
        - Checkouts
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
            examples:
              oneOffProduct:
                summary: Checkout with one-off product
                value:
                  redirectUrlSuccess: https://example.com/success
                  redirectUrlCanceled: https://example.com/canceled
                  products:
                    - id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                      quantity: 1
              subscriptionWithTrial:
                summary: Subscription plan with trial
                value:
                  redirectUrlSuccess: https://example.com/success
                  redirectUrlCanceled: https://example.com/canceled
                  customerId: customer_Fp2kQrSvWm8NjLhYbUcP
                  products:
                    - id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                      trialDays: 14
              customPrice:
                summary: Product with custom price
                value:
                  redirectUrlSuccess: https://example.com/success
                  redirectUrlCanceled: https://example.com/canceled
                  products:
                    - id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                      quantity: 2
                      price:
                        value: '49.99'
                        currency: EUR
                  metadata:
                    campaign: summer-sale
      responses:
        '201':
          description: Checkout created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout'
              example:
                id: checkout_Bm7xNvPwKr3YjTgHcZaE
                resource: checkout
                orderId: null
                testmode: false
                redirectUrlSuccess: https://example.com/success
                redirectUrlCanceled: https://example.com/canceled
                metadata:
                  campaign: summer-sale
                status: created
                expiresAt: '2024-01-16T10:30:00Z'
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  checkoutUrl:
                    href: https://checkout.vatly.com/checkout_Bm7xNvPwKr3YjTgHcZaE
                    type: text/html
                  self:
                    href: https://api.vatly.com/v1/checkouts/checkout_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
                  order: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /checkouts/{checkoutId}:
    get:
      operationId: getCheckout
      summary: Get a checkout
      description: |
        Retrieves a specific checkout by its ID.
        Use this to check the status of a checkout or get the order ID after completion.
      tags:
        - Checkouts
      parameters:
        - $ref: '#/components/parameters/checkoutId'
      responses:
        '200':
          description: Checkout details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout'
              example:
                id: checkout_QdEpFhdSrG4Y3DnfsdqsH
                resource: checkout
                orderId: order_Jk4pQrSvWm8NjLhYbUcP
                testmode: false
                redirectUrlSuccess: https://example.com/success
                redirectUrlCanceled: https://example.com/canceled
                metadata:
                  campaign: summer-sale
                status: paid
                expiresAt: '2024-01-16T10:30:00Z'
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  checkoutUrl:
                    href: https://checkout.vatly.com/checkout_QdEpFhdSrG4Y3DnfsdqsH
                    type: text/html
                  self:
                    href: https://api.vatly.com/v1/checkouts/checkout_QdEpFhdSrG4Y3DnfsdqsH
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Jk4pQrSvWm8NjLhYbUcP
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers:
    get:
      operationId: listCustomers
      summary: List all customers
      description: |
        Returns a paginated list of customers for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 2
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: customer_7kBmRtPvXw2NjLhYcZaE
                    resource: customer
                    testmode: false
                    email: john.doe@example.com
                    createdAt: '2024-01-15T10:30:00Z'
                    metadata:
                      userId: user_Qp8kNvBxKw7RjTgYcZaE
                    links:
                      self:
                        href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                        type: application/json
                  - id: customer_Lp3mNvBxKw7RjTgYcZaE
                    resource: customer
                    testmode: false
                    email: jane.smith@acme.com
                    createdAt: '2024-01-10T08:15:00Z'
                    metadata: {}
                    links:
                      self:
                        href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                count: 2
                links:
                  self:
                    href: https://api.vatly.com/v1/customers
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      operationId: createCustomer
      summary: Create a customer
      description: |
        Creates a new customer record.

        Customers are uniquely identified by email within each testmode.
        Creating a customer with an email that already exists will return a validation error.

        **Use cases:**
        - Pre-create customers before checkout
        - Link existing users from your system to Vatly
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            example:
              email: customer@example.com
              metadata:
                userId: user_Qp8kNvBxKw7RjTgYcZaE
      responses:
        '201':
          description: Customer created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: customer_7kBmRtPvXw2NjLhYcZaE
                resource: customer
                testmode: false
                email: customer@example.com
                createdAt: '2024-01-15T10:30:00Z'
                metadata:
                  userId: user_Qp8kNvBxKw7RjTgYcZaE
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /customers/{customerId}:
    get:
      operationId: getCustomer
      summary: Get a customer
      description: Retrieves a specific customer by their ID.
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/customerId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: customer_7kBmRtPvXw2NjLhYcZaE
                resource: customer
                testmode: false
                email: john.doe@example.com
                createdAt: '2024-01-15T10:30:00Z'
                metadata:
                  userId: user_Qp8kNvBxKw7RjTgYcZaE
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_7kBmRtPvXw2NjLhYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{customerId}/subscriptions:
    get:
      operationId: listCustomerSubscriptions
      summary: List customer subscriptions
      description: |
        Returns a paginated list of subscriptions for a specific customer.
        Includes subscriptions in all states (active, canceled, etc.).
      tags:
        - Customers
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/customerId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of customer's subscriptions
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: subscription_Lp3mNvBxKw7RjTgYcZaE
                    resource: subscription
                    customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                    subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                    testmode: false
                    name: Pro Monthly
                    description: Full access to all Pro features
                    billingAddress:
                      fullName: John Doe
                      companyName: Acme Corp
                      streetAndNumber: 123 Main Street
                      city: Berlin
                      postalCode: '10115'
                      country: DE
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    quantity: 1
                    interval: month
                    intervalCount: 1
                    status: active
                    mandate:
                      method: card
                      maskedIdentifier: '4242'
                    startedAt: '2024-01-15T10:30:00Z'
                    endedAt: null
                    cancelledAt: null
                    renewedAt: '2024-02-15T10:30:00Z'
                    renewedUntil: '2024-03-15T10:30:00Z'
                    nextRenewalAt: '2024-03-15T10:30:00Z'
                    trialUntil: null
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                      customer:
                        href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE/subscriptions
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /customers/{customerId}/subscriptions/{subscriptionId}:
    get:
      operationId: getCustomerSubscription
      summary: Get a customer subscription
      description: |
        Retrieves a specific subscription for a customer.
        The subscription must belong to the specified customer.
      tags:
        - Customers
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/customerId'
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: subscription_Lp3mNvBxKw7RjTgYcZaE
                resource: subscription
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features
                billingAddress:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                basePrice:
                  value: '29.00'
                  currency: EUR
                quantity: 1
                interval: month
                intervalCount: 1
                status: active
                mandate:
                  method: card
                  maskedIdentifier: '4242'
                startedAt: '2024-01-15T10:30:00Z'
                endedAt: null
                cancelledAt: null
                renewedAt: '2024-02-15T10:30:00Z'
                renewedUntil: '2024-03-15T10:30:00Z'
                nextRenewalAt: '2024-03-15T10:30:00Z'
                trialUntil: null
                links:
                  self:
                    href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
                  customer:
                    href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /one-off-products:
    get:
      operationId: listOneOffProducts
      summary: List all one-off products
      description: |
        Returns a paginated list of one-off products for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.

        Only products with `active` status can be used in checkouts.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of one-off products
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OneOffProduct'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    resource: one_off_product
                    testmode: false
                    name: Premium License
                    description: Lifetime access to all premium features
                    basePrice:
                      value: '299.00'
                      currency: EUR
                    status: active
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      self:
                        href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /one-off-products/{oneOffProductId}:
    get:
      operationId: getOneOffProduct
      summary: Get a one-off product
      description: Retrieves a specific one-off product by its ID.
      tags:
        - One-Off Products
      parameters:
        - $ref: '#/components/parameters/oneOffProductId'
      responses:
        '200':
          description: One-off product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffProduct'
              example:
                id: one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                resource: one_off_product
                testmode: false
                name: Premium License
                description: Lifetime access to all premium features
                basePrice:
                  value: '299.00'
                  currency: EUR
                status: active
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/one-off-products/one_off_product_Vr8kQdFhSrG4Y3DnfsdqH
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /subscription-plans:
    get:
      operationId: listSubscriptionPlans
      summary: List all subscription plans
      description: |
        Returns a paginated list of subscription plans for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.

        Only plans with `active` status can be used in checkouts.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of subscription plans
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionPlan'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 2
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                    resource: subscription_plan
                    testmode: false
                    name: Pro Monthly
                    description: Full access to all Pro features, billed monthly
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    interval: month
                    intervalCount: 1
                    status: active
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                        type: application/json
                  - id: subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                    resource: subscription_plan
                    testmode: false
                    name: Pro Yearly
                    description: Full access to all Pro features, billed yearly
                    basePrice:
                      value: '290.00'
                      currency: EUR
                    interval: year
                    intervalCount: 1
                    status: active
                    createdAt: '2024-01-15T10:30:00Z'
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                        type: application/json
                count: 2
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /subscription-plans/{subscriptionPlanId}:
    get:
      operationId: getSubscriptionPlan
      summary: Get a subscription plan
      description: Retrieves a specific subscription plan by its ID.
      tags:
        - Subscription Plans
      parameters:
        - $ref: '#/components/parameters/subscriptionPlanId'
      responses:
        '200':
          description: Subscription plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
              example:
                id: subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                resource: subscription_plan
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features, billed monthly
                basePrice:
                  value: '29.00'
                  currency: EUR
                interval: month
                intervalCount: 1
                status: active
                createdAt: '2024-01-15T10:30:00Z'
                links:
                  self:
                    href: https://api.vatly.com/v1/subscription-plans/subscription_plan_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders:
    get:
      operationId: listOrders
      summary: List all orders
      description: |
        Returns a paginated list of orders for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: order_Hn5xWqVfKm8RjTgYbUcP
                    resource: order
                    customerId: customer_Xk9pQrSvWm4NjLhYbUcP
                    testmode: false
                    metadata: {}
                    paymentMethod: ideal
                    createdAt: '2024-01-15T10:30:00Z'
                    status: paid
                    invoiceNumber: INV-2024-0001
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    taxSummary:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                    lines:
                      - id: order_item_Mn6xBtPvKw2RjTgYcZaE
                        resource: orderline
                        description: Pro Monthly Subscription
                        quantity: 1
                        basePrice:
                          value: '29.00'
                          currency: EUR
                        total:
                          value: '35.09'
                          currency: EUR
                        subtotal:
                          value: '29.00'
                          currency: EUR
                        taxes:
                          - taxRate:
                              name: VAT
                              percentage: 21
                              taxablePercentage: 100
                            amount:
                              value: '6.09'
                              currency: EUR
                    customerDetails:
                      fullName: John Doe
                      companyName: Acme Corp
                      streetAndNumber: 123 Main Street
                      city: Berlin
                      postalCode: '10115'
                      country: DE
                      email: john@acme.com
                    links:
                      self:
                        href: https://api.vatly.com/v1/orders/order_Hn5xWqVfKm8RjTgYbUcP
                        type: application/json
                      customer:
                        href: https://api.vatly.com/v1/customers/customer_Xk9pQrSvWm4NjLhYbUcP
                        type: application/json
                      customerInvoice:
                        href: https://vatly.com/invoices/order_Hn5xWqVfKm8RjTgYbUcP
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/orders
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get an order
      description: |
        Retrieves a specific order by its ID.
        Includes full order details with line items, totals, and billing information.
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              example:
                id: order_Hn5xWqVfKm8RjTgYbUcP
                resource: order
                customerId: customer_Xk9pQrSvWm4NjLhYbUcP
                testmode: false
                metadata: {}
                paymentMethod: ideal
                createdAt: '2024-01-15T10:30:00Z'
                status: paid
                invoiceNumber: INV-2024-0001
                total:
                  value: '35.09'
                  currency: EUR
                subtotal:
                  value: '29.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '6.09'
                      currency: EUR
                lines:
                  - id: order_item_Jk4pQrSvWm8NjLhYbUcP
                    resource: orderline
                    description: Pro Monthly Subscription
                    quantity: 1
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                customerDetails:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                  email: john@acme.com
                links:
                  self:
                    href: https://api.vatly.com/v1/orders/order_Hn5xWqVfKm8RjTgYbUcP
                    type: application/json
                  customer:
                    href: https://api.vatly.com/v1/customers/customer_Xk9pQrSvWm4NjLhYbUcP
                    type: application/json
                  customerInvoice:
                    href: https://vatly.com/invoices/order_Hn5xWqVfKm8RjTgYbUcP
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/{orderId}/invoice-update-link:
    post:
      operationId: createOrderInvoiceUpdateLink
      summary: Create invoice update link
      description: |
        Generates a signed URL that allows the customer to update the invoice details for this order
        (billing address, VAT number, company name).

        The link is valid for a limited time (typically 24 hours) and can be sent to the customer
        to self-service update their invoice.

        **Use cases:**
        - Customer needs to add/update VAT number
        - Customer needs to correct billing address
        - Customer needs to change company name on invoice
      tags:
        - Orders
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: Invoice update link generated
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressUpdateLink'
              example:
                href: https://vatly.com/invoices/order_Hn5xWqVfKm8RjTgYbUcP/edit?signature=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                type: text/html
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /orders/{orderId}/refunds:
    get:
      operationId: listOrderRefunds
      summary: List order refunds
      description: |
        Returns a paginated list of refunds for a specific order.
        Includes both pending and completed refunds.
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of order refunds
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: refund_Bm7xNvPwKr3YjTgHcZaE
                    resource: refund
                    orderId: null
                    customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                    testmode: false
                    createdAt: '2024-01-20T14:00:00Z'
                    status: pending
                    originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                    total:
                      value: '12.10'
                      currency: EUR
                    subtotal:
                      value: '10.00'
                      currency: EUR
                    taxSummary:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '2.10'
                          currency: EUR
                    lines:
                      - id: refund_item_Jk4pQrSvWm8NjLhYbUcP
                        resource: refundline
                        description: Partial refund for service issue
                        quantity: 1
                        basePrice:
                          value: '10.00'
                          currency: EUR
                        total:
                          value: '12.10'
                          currency: EUR
                        subtotal:
                          value: '10.00'
                          currency: EUR
                        taxes:
                          - taxRate:
                              name: VAT
                              percentage: 21
                              taxablePercentage: 100
                            amount:
                              value: '2.10'
                              currency: EUR
                    links:
                      self:
                        href: https://api.vatly.com/v1/refunds/refund_Bm7xNvPwKr3YjTgHcZaE
                        type: application/json
                      originalOrder:
                        href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      order: null
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP/refunds
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
    post:
      operationId: createOrderRefund
      summary: Create a partial refund
      description: |
        Creates a partial refund for specific items in an order.

        **Requirements:**
        - Order must have `paid` status
        - Order must have a payment processor attached (Mollie)
        - Refund amount per item cannot exceed remaining refundable amount

        **Notes:**
        - Amounts are specified before taxes; taxes are calculated automatically
        - Multiple partial refunds can be created for the same order
        - Refunds are processed asynchronously through the payment provider
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
            examples:
              partialRefund:
                summary: Partial refund for one item
                value:
                  items:
                    - itemId: order_item_Jk4pQrSvWm8NjLhYbUcP
                      amount:
                        value: '15.00'
                        currency: EUR
                      description: 50% refund for service issue
              multipleItems:
                summary: Refund multiple items
                value:
                  items:
                    - itemId: order_item_Jk4pQrSvWm8NjLhYbUcP
                      amount:
                        value: '29.00'
                        currency: EUR
                    - itemId: order_item_Tk7mNvBxKw2RjTgYcZaE
                      amount:
                        value: '10.00'
                        currency: EUR
                  metadata:
                    ticketId: SUPPORT-12345
      responses:
        '201':
          description: Refund created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Mn6xBtPvKw2RjTgYcZaE
                resource: refund
                orderId: null
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                testmode: false
                createdAt: '2024-01-15T10:30:00Z'
                status: pending
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '18.15'
                  currency: EUR
                subtotal:
                  value: '15.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '3.15'
                      currency: EUR
                lines:
                  - id: refund_item_Tk7mNvBxKw2RjTgYcZaE
                    resource: refundline
                    description: 50% refund for service issue
                    quantity: 1
                    basePrice:
                      value: '15.00'
                      currency: EUR
                    total:
                      value: '18.15'
                      currency: EUR
                    subtotal:
                      value: '15.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '3.15'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Mn6xBtPvKw2RjTgYcZaE
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: |
            Validation failed. Common errors:
            - Order is not in `paid` status
            - Refund amount exceeds remaining refundable amount
            - No payment processor attached to order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                notPaid:
                  summary: Order not paid
                  value:
                    message: The given data was invalid.
                    errors:
                      orderId:
                        - Order must be in paid status to create a refund.
                overRefund:
                  summary: Over-refunding
                  value:
                    message: The given data was invalid.
                    errors:
                      items.0.amount:
                        - 'Refund amount exceeds remaining refundable amount. Maximum: 15.00 EUR'
  /orders/{orderId}/refunds/full:
    post:
      operationId: createFullOrderRefund
      summary: Create a full refund
      description: |
        Creates a full refund for an order, refunding all items.

        **Requirements:**
        - Order must have `paid` status
        - Order must have a payment processor attached (Mollie)
        - Order must not be already fully refunded

        **Notes:**
        - This is a convenience endpoint; it automatically calculates the full refundable amount
        - If partial refunds have already been issued, only the remaining amount is refunded
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFullRefundRequest'
            example:
              metadata:
                reason: Customer requested cancellation
      responses:
        '201':
          description: Full refund created successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Rk5pQrSvWm8NjLhYbUcP
                resource: refund
                orderId: null
                customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                testmode: false
                createdAt: '2024-01-21T09:00:00Z'
                status: pending
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '35.09'
                  currency: EUR
                subtotal:
                  value: '29.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '6.09'
                      currency: EUR
                lines:
                  - id: refund_item_Bm7xNvPwKr3YjTgHcZaE
                    resource: refundline
                    description: Pro Monthly Subscription (Full Refund)
                    quantity: 1
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    total:
                      value: '35.09'
                      currency: EUR
                    subtotal:
                      value: '29.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '6.09'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Rk5pQrSvWm8NjLhYbUcP
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /orders/{orderId}/refunds/{refundId}:
    get:
      operationId: getOrderRefund
      summary: Get an order refund
      description: |
        Retrieves a specific refund for an order.
        The refund must belong to the specified order.
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/refundId'
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Xk9pQrSvWm4NjLhYbUcP
                resource: refund
                orderId: order_Bm7xNvPwKr3YjTgHcZaE
                customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                testmode: false
                createdAt: '2024-01-20T14:00:00Z'
                status: refunded
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '18.15'
                  currency: EUR
                subtotal:
                  value: '15.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '3.15'
                      currency: EUR
                lines:
                  - id: refund_item_Mn6xBtPvKw2RjTgYcZaE
                    resource: refundline
                    description: Pro Monthly Subscription (Refund)
                    quantity: 1
                    basePrice:
                      value: '15.00'
                      currency: EUR
                    total:
                      value: '18.15'
                      currency: EUR
                    subtotal:
                      value: '15.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '3.15'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Xk9pQrSvWm4NjLhYbUcP
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: cancelOrderRefund
      summary: Cancel a refund
      description: |
        Cancels a pending refund.

        **Requirements:**
        - Refund must be in `pending` status
        - Cannot cancel refunds that have already been processed

        **Notes:**
        - Once canceled, the refund cannot be restored
        - To refund again, create a new refund request
      tags:
        - Orders
        - Refunds
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/refundId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '204':
          description: Refund canceled successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: Cannot cancel refund (not in pending status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Only pending refunds can be canceled.
  /orders/{orderId}/chargebacks:
    get:
      operationId: listOrderChargebacks
      summary: List order chargebacks
      description: |
        Returns a paginated list of chargebacks for a specific order.
        Most orders have at most one chargeback.
      tags:
        - Orders
        - Chargebacks
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of order chargebacks
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chargeback'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: chargeback_Fp2kQrSvWm8NjLhYbUcP
                    resource: chargeback
                    testmode: false
                    createdAt: '2024-01-25T16:45:00Z'
                    amount:
                      value: '35.09'
                      currency: EUR
                    settlementAmount:
                      value: '35.09'
                      currency: EUR
                    reason: product_not_received
                    originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                    orderId: order_Rk5pQrSvWm8NjLhYbUcP
                    links:
                      self:
                        href: https://api.vatly.com/v1/chargebacks/chargeback_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      originalOrder:
                        href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      order:
                        href: https://api.vatly.com/v1/orders/order_Rk5pQrSvWm8NjLhYbUcP
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP/chargebacks
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /orders/{orderId}/chargebacks/{chargebackId}:
    get:
      operationId: getOrderChargeback
      summary: Get an order chargeback
      description: |
        Retrieves a specific chargeback for an order.
        The chargeback must belong to the specified order.
      tags:
        - Orders
        - Chargebacks
      parameters:
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/chargebackId'
      responses:
        '200':
          description: Chargeback details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chargeback'
              example:
                id: chargeback_Mn6xBtPvKw2RjTgYcZaE
                resource: chargeback
                testmode: false
                createdAt: '2024-01-25T16:45:00Z'
                amount:
                  value: '35.09'
                  currency: EUR
                settlementAmount:
                  value: '35.09'
                  currency: EUR
                reason: fraud
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                orderId: order_Rk5pQrSvWm8NjLhYbUcP
                links:
                  self:
                    href: https://api.vatly.com/v1/chargebacks/chargeback_Mn6xBtPvKw2RjTgYcZaE
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Rk5pQrSvWm8NjLhYbUcP
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /refunds:
    get:
      operationId: listRefunds
      summary: List all refunds
      description: |
        Returns a paginated list of all refunds for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of refunds
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Refund'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: refund_Xk9pQrSvWm4NjLhYbUcP
                    resource: refund
                    orderId: order_Bm7xNvPwKr3YjTgHcZaE
                    customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                    testmode: false
                    createdAt: '2024-01-20T14:00:00Z'
                    status: refunded
                    originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                    total:
                      value: '18.15'
                      currency: EUR
                    subtotal:
                      value: '15.00'
                      currency: EUR
                    taxSummary:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '3.15'
                          currency: EUR
                    lines:
                      - id: refund_item_Mn6xBtPvKw2RjTgYcZaE
                        resource: refundline
                        description: Pro Monthly Subscription (Refund)
                        quantity: 1
                        basePrice:
                          value: '15.00'
                          currency: EUR
                        total:
                          value: '18.15'
                          currency: EUR
                        subtotal:
                          value: '15.00'
                          currency: EUR
                        taxes:
                          - taxRate:
                              name: VAT
                              percentage: 21
                              taxablePercentage: 100
                            amount:
                              value: '3.15'
                              currency: EUR
                    links:
                      self:
                        href: https://api.vatly.com/v1/refunds/refund_Xk9pQrSvWm4NjLhYbUcP
                        type: application/json
                      originalOrder:
                        href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      order:
                        href: https://api.vatly.com/v1/orders/order_Bm7xNvPwKr3YjTgHcZaE
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /refunds/{refundId}:
    get:
      operationId: getRefund
      summary: Get a refund
      description: Retrieves a specific refund by its ID.
      tags:
        - Refunds
      parameters:
        - $ref: '#/components/parameters/refundId'
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: refund_Xk9pQrSvWm4NjLhYbUcP
                resource: refund
                orderId: order_Bm7xNvPwKr3YjTgHcZaE
                customerId: customer_Wt5mNvBxKw7YcZaEjLhR
                testmode: false
                createdAt: '2024-01-20T14:00:00Z'
                status: refunded
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                total:
                  value: '18.15'
                  currency: EUR
                subtotal:
                  value: '15.00'
                  currency: EUR
                taxSummary:
                  - taxRate:
                      name: VAT
                      percentage: 21
                      taxablePercentage: 100
                    amount:
                      value: '3.15'
                      currency: EUR
                lines:
                  - id: refund_item_Mn6xBtPvKw2RjTgYcZaE
                    resource: refundline
                    description: Pro Monthly Subscription (Refund)
                    quantity: 1
                    basePrice:
                      value: '15.00'
                      currency: EUR
                    total:
                      value: '18.15'
                      currency: EUR
                    subtotal:
                      value: '15.00'
                      currency: EUR
                    taxes:
                      - taxRate:
                          name: VAT
                          percentage: 21
                          taxablePercentage: 100
                        amount:
                          value: '3.15'
                          currency: EUR
                links:
                  self:
                    href: https://api.vatly.com/v1/refunds/refund_Xk9pQrSvWm4NjLhYbUcP
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Bm7xNvPwKr3YjTgHcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /chargebacks:
    get:
      operationId: listChargebacks
      summary: List all chargebacks
      description: |
        Returns a paginated list of all chargebacks for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.

        **Notes:**
        - Chargebacks are created automatically by payment provider webhooks
        - They cannot be created manually through the API
      tags:
        - Chargebacks
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of chargebacks
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chargeback'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 1
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: chargeback_Mn6xBtPvKw2RjTgYcZaE
                    resource: chargeback
                    testmode: false
                    createdAt: '2024-01-15T10:30:00Z'
                    amount:
                      value: '35.09'
                      currency: EUR
                    settlementAmount:
                      value: '35.09'
                      currency: EUR
                    reason: fraud
                    originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                    orderId: order_Rk5pQrSvWm8NjLhYbUcP
                    links:
                      self:
                        href: https://api.vatly.com/v1/chargebacks/chargeback_Mn6xBtPvKw2RjTgYcZaE
                        type: application/json
                      originalOrder:
                        href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                        type: application/json
                      order:
                        href: https://api.vatly.com/v1/orders/order_Rk5pQrSvWm8NjLhYbUcP
                        type: application/json
                count: 1
                links:
                  self:
                    href: https://api.vatly.com/v1/chargebacks
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /chargebacks/{chargebackId}:
    get:
      operationId: getChargeback
      summary: Get a chargeback
      description: Retrieves a specific chargeback by its ID.
      tags:
        - Chargebacks
      parameters:
        - $ref: '#/components/parameters/chargebackId'
      responses:
        '200':
          description: Chargeback details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chargeback'
              example:
                id: chargeback_Mn6xBtPvKw2RjTgYcZaE
                resource: chargeback
                testmode: false
                createdAt: '2024-01-25T16:45:00Z'
                amount:
                  value: '35.09'
                  currency: EUR
                settlementAmount:
                  value: '35.09'
                  currency: EUR
                reason: fraud
                originalOrderId: order_Fp2kQrSvWm8NjLhYbUcP
                orderId: order_Rk5pQrSvWm8NjLhYbUcP
                links:
                  self:
                    href: https://api.vatly.com/v1/chargebacks/chargeback_Mn6xBtPvKw2RjTgYcZaE
                    type: application/json
                  originalOrder:
                    href: https://api.vatly.com/v1/orders/order_Fp2kQrSvWm8NjLhYbUcP
                    type: application/json
                  order:
                    href: https://api.vatly.com/v1/orders/order_Rk5pQrSvWm8NjLhYbUcP
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhook-events/{eventId}:
    get:
      operationId: getWebhookEvent
      summary: Get webhook event
      description: |
        Retrieves a specific webhook event by its ID.
        Returns the full event payload including the resource data at the time the event occurred.
      tags:
        - Webhook Events
      parameters:
        - $ref: '#/components/parameters/eventId'
      responses:
        '200':
          description: Webhook event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
              example:
                id: webhook_event_Qk8pRtSvWm2NjLhYcZaE
                resource: webhook_event
                eventName: order.paid
                entityType: order
                entityId: order_Hn5xWqVfKm8RjTgYbUcP
                object:
                  id: order_Hn5xWqVfKm8RjTgYbUcP
                  resource: order
                  testmode: false
                  status: paid
                  total:
                    value: '29.99'
                    currency: EUR
                  subtotal:
                    value: '24.79'
                    currency: EUR
                createdAt: '2026-05-21T14:32:08+00:00'
                testmode: false
                links:
                  self:
                    href: https://api.vatly.com/v1/webhook-events/webhook_event_Qk8pRtSvWm2NjLhYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /subscriptions:
    get:
      operationId: listSubscriptions
      summary: List all subscriptions
      description: |
        Returns a paginated list of all subscriptions for the authenticated merchant.
        Results are filtered by the testmode determined from the API token.
        Includes subscriptions in all states (active, canceled, etc.).
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/startingAfter'
        - $ref: '#/components/parameters/endingBefore'
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - count
                  - links
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
                  count:
                    type: integer
                    description: Number of items in the current page
                    example: 2
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
              example:
                data:
                  - id: subscription_Lp3mNvBxKw7RjTgYcZaE
                    resource: subscription
                    customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                    subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                    testmode: false
                    name: Pro Monthly
                    description: Full access to all Pro features
                    billingAddress:
                      fullName: John Doe
                      companyName: Acme Corp
                      streetAndNumber: 123 Main Street
                      city: Berlin
                      postalCode: '10115'
                      country: DE
                    basePrice:
                      value: '29.00'
                      currency: EUR
                    quantity: 1
                    interval: month
                    intervalCount: 1
                    status: active
                    mandate:
                      method: card
                      maskedIdentifier: '4242'
                    startedAt: '2024-01-15T10:30:00Z'
                    endedAt: null
                    cancelledAt: null
                    renewedAt: '2024-02-15T10:30:00Z'
                    renewedUntil: '2024-03-15T10:30:00Z'
                    nextRenewalAt: '2024-03-15T10:30:00Z'
                    trialUntil: null
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                      customer:
                        href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                        type: application/json
                  - id: subscription_Wt5mNvBxKw7YcZaEjLhR
                    resource: subscription
                    customerId: customer_Mn6xBtPvKw2RjTgYcZaE
                    subscriptionPlanId: subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                    testmode: false
                    name: Enterprise Yearly
                    description: Enterprise features with priority support
                    billingAddress:
                      fullName: Jane Smith
                      companyName: TechCorp Ltd
                      taxId: GB123456789
                      streetAndNumber: 456 Tech Lane
                      city: London
                      postalCode: EC1A 1BB
                      country: GB
                    basePrice:
                      value: '990.00'
                      currency: EUR
                    quantity: 5
                    interval: year
                    intervalCount: 1
                    status: active
                    mandate:
                      method: card
                      maskedIdentifier: '4242'
                    startedAt: '2024-01-01T00:00:00Z'
                    endedAt: null
                    cancelledAt: null
                    renewedAt: '2024-01-01T00:00:00Z'
                    renewedUntil: '2025-01-01T00:00:00Z'
                    nextRenewalAt: '2025-01-01T00:00:00Z'
                    trialUntil: null
                    links:
                      self:
                        href: https://api.vatly.com/v1/subscriptions/subscription_Wt5mNvBxKw7YcZaEjLhR
                        type: application/json
                      customer:
                        href: https://api.vatly.com/v1/customers/customer_Mn6xBtPvKw2RjTgYcZaE
                        type: application/json
                count: 2
                links:
                  self:
                    href: https://api.vatly.com/v1/subscriptions
                    type: application/json
                  next: null
                  prev: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /subscriptions/{subscriptionId}:
    get:
      operationId: getSubscription
      summary: Get a subscription
      description: Retrieves a specific subscription by its ID.
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: subscription_Lp3mNvBxKw7RjTgYcZaE
                resource: subscription
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features
                billingAddress:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                basePrice:
                  value: '29.00'
                  currency: EUR
                quantity: 1
                interval: month
                intervalCount: 1
                status: active
                mandate:
                  method: card
                  maskedIdentifier: '4242'
                startedAt: '2024-01-15T10:30:00Z'
                endedAt: null
                cancelledAt: null
                renewedAt: '2024-02-15T10:30:00Z'
                renewedUntil: '2024-03-15T10:30:00Z'
                nextRenewalAt: '2024-03-15T10:30:00Z'
                trialUntil: null
                links:
                  self:
                    href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
                  customer:
                    href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSubscription
      summary: Update a subscription
      description: |
        Updates a subscription's plan, quantity, or billing schedule.

        **Plan changes:**
        - Specify `subscriptionPlanId` to switch to a different plan
        - New plan must match the subscription's testmode

        **Quantity changes:**
        - Specify `quantity` to update the number of units (e.g., seats)

        **Proration:**
        - By default, changes are prorated
        - Set `prorate: false` to disable proration
        - Proration credits unused time and charges for new plan

        **Timing:**
        - By default, changes apply at the end of the current billing period
        - Set `applyImmediately: true` for immediate changes
        - Set `invoiceImmediately: true` to charge proration immediately

        **Trial/Anchor:**
        - Use `trialUntil` to extend or set a trial period
        - Use `anchor` to reset the billing anchor date
        - These options are mutually exclusive
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
            examples:
              changePlan:
                summary: Upgrade to yearly plan
                value:
                  subscriptionPlanId: subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                  prorate: true
                  applyImmediately: true
              changeQuantity:
                summary: Add more seats
                value:
                  quantity: 10
                  applyImmediately: true
                  invoiceImmediately: true
              scheduledChange:
                summary: Schedule plan change for next cycle
                value:
                  subscriptionPlanId: subscription_plan_Fp2kQrSvWm8NjLhYbUcP
                  applyImmediately: false
              extendTrial:
                summary: Extend trial period
                description: |
                  `trialUntil` cannot be sent on its own — at least one of
                  `subscriptionPlanId` or `quantity` is required.
                value:
                  quantity: 1
                  trialUntil: '2024-02-28T00:00:00Z'
      responses:
        '200':
          description: Subscription updated successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: subscription_Lp3mNvBxKw7RjTgYcZaE
                resource: subscription
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                subscriptionPlanId: subscription_plan_Wt5mNvBxKw7YcZaEjLhR
                testmode: false
                name: Pro Yearly
                description: Full access to all Pro features, billed yearly
                billingAddress:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                basePrice:
                  value: '290.00'
                  currency: EUR
                quantity: 1
                interval: year
                intervalCount: 1
                status: active
                mandate:
                  method: card
                  maskedIdentifier: '4242'
                startedAt: '2024-01-15T10:30:00Z'
                endedAt: null
                cancelledAt: null
                renewedAt: '2024-02-15T10:30:00Z'
                renewedUntil: '2025-02-15T10:30:00Z'
                nextRenewalAt: '2025-02-15T10:30:00Z'
                trialUntil: null
                links:
                  self:
                    href: https://api.vatly.com/v1/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
                  customer:
                    href: https://api.vatly.com/v1/customers/customer_Lp3mNvBxKw7RjTgYcZaE
                    type: application/json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: |
            Validation failed. Common errors:
            - Neither subscriptionPlanId nor quantity provided
            - Plan does not exist or is in wrong testmode
            - Both anchor and trialUntil specified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      operationId: cancelSubscription
      summary: Cancel a subscription
      description: |
        Cancels a subscription.

        **Cancellation modes:**
        - **Default (grace period):** Subscription remains active until the end of the current billing period, then ends
        - **Immediate:** Subscription ends immediately when `immediately=true` is specified

        **Notes:**
        - A subscription that was canceled with a grace period (the default) can be resumed via
          `POST /subscriptions/{subscriptionId}/resume` while `ends_at` is still in the future
        - A subscription that was canceled immediately cannot be reactivated; create a new subscription instead
        - Customers retain access until `renewedUntil` date (unless canceled immediately)
        - No refunds are issued automatically; use the Refunds API if needed
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/idempotencyKey'
        - name: immediately
          in: query
          description: |
            Cancel immediately instead of at period end.
            - `false` (default): Cancel at end of current billing period
            - `true`: Cancel immediately
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Subscription canceled successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: Subscription cannot be canceled (already canceled or ended)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/billing-update-link:
    post:
      operationId: createSubscriptionBillingUpdateLink
      summary: Create billing update link
      description: |
        Generates a signed URL that allows the customer to update the billing details for this
        subscription (billing address, VAT number, company name) via a hosted flow.

        **Flow:**
        1. Call this endpoint with redirect URLs
        2. Redirect customer to the returned URL
        3. Customer updates their details on the hosted page
        4. Customer is redirected to your success/canceled URL

        **Use cases:**
        - Customer needs to update billing address
        - Customer needs to add/update VAT number
        - Self-service invoice detail management
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionBillingRequest'
            example:
              redirectUrlSuccess: https://example.com/billing-updated
              redirectUrlCanceled: https://example.com/account/billing
              billingAddress:
                companyName: Acme Corp
                taxId: DE123456789
      responses:
        '200':
          description: Billing update link generated
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                type: object
                required:
                  - href
                  - type
                additionalProperties: false
                properties:
                  href:
                    type: string
                    format: uri
                    description: URL to redirect customer for billing update
                    example: https://vatly.com/subscriptions/subscription_Lp3mNvBxKw7RjTgYcZaE/billing?token=xyz...
                  type:
                    type: string
                    const: text/html
                    example: text/html
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /subscriptions/{subscriptionId}/resume:
    post:
      operationId: resumeSubscription
      summary: Resume a canceled subscription
      description: |
        Resumes a subscription that was previously canceled with a grace period, while it is still
        within that grace period.

        **When this works:**
        - The subscription's `status` is `on_grace_period`
        - The subscription's `endsAt` is still in the future

        **Result:**
        - Status returns to `active`
        - The existing billing cycle and renewal schedule are preserved (no new charge fires immediately)
        - The original payment mandate remains in effect
        - A `subscription.resumed` webhook is delivered to your configured endpoint
        - `canceledAt` and `endsAt` are cleared; `resumedAt` is set on the subscription
        - The refreshed subscription is returned in the response body

        **When this does NOT work:**
        - Subscription was canceled immediately (`status` is `canceled`) — create a new subscription instead
        - Grace period has already lapsed (`endsAt` is in the past) — create a new subscription instead
        - Subscription is already active (no-op rejected for clarity, not silently ignored)
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: Subscription resumed successfully
          headers:
            Idempotent-Replayed:
              $ref: '#/components/headers/IdempotentReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: subscription_Lp3mNvBxKw7RjTgYcZaE
                resource: subscription
                customerId: customer_Lp3mNvBxKw7RjTgYcZaE
                subscriptionPlanId: subscription_plan_Rk5pQrSvWm8NjLhYbUcP
                testmode: false
                name: Pro Monthly
                description: Full access to all Pro features
                billingAddress:
                  fullName: John Doe
                  companyName: Acme Corp
                  streetAndNumber: 123 Main Street
                  city: Berlin
                  postalCode: '10115'
                  country: DE
                basePrice:
                  value: '29.00'
                  currency: EUR
                quantity: 1
                interval: month
[...]
